<!DOCTYPE html>
<head>
  <title>Daily Planet | Contribute New Article</title>
</head>
<body>
  <h1>Daily Planet | Contribute New Article</h1>
  <h2>All the news that fits, we print!</h2>
  <%= "Be a citizen journalist! Add an article." %>
  <form method="post" action="/articles">
    <input type="text" name="article[title]" placeholder="Title"><br>
    <input type="text" name="article[author]" placeholder="Author"><br>
    <textarea name="article[text]" placeholder="Article Text">
    </textarea><br>
    <button>Add Article</button>
  </form>

</body>
</html>