<!DOCTYPE html>
<head>
  <title>Daily Planet | Article</title>
</head>
<body>
  <h1>Daily Planet | Article</h1>
  <h2>All the news that fits, we print!</h2>
  <%= "Here is the article you requested" %>
</body>
</html>