<!DOCTYPE html>
<head>
  <title>Daily Planet | Article Summaries</title>
</head>
<body>
  <h1>Daily Planet Article Summaries</h1>
  <h2>All the news that fits, we print!</h2>
  <%= "display summary article" %>
</body>
</html>