<!DOCTYPE html>
<head>
  <title>Daily Planet | Home</title>
</head>
<body>
  <h1>Daily Planet</h1>
  <h2>All the news that fits, we print!</h2>
  <ul>
    <li>Home</li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="articles/">Article Summaries</a></li>
    <li><a href="articles/new">Contribute an Article</a></li>
  </ul>
</body>
</html>